<div class="card">
  <%= link_to image_tag(task.image, class: :card__img ), task_path(task.id)%>
  <div class="card__body">
    <%= link_to task.title, task_path(task.id), class: :card__title%>
    <p class="card__summary">
      <%= task.catch_copy %>
    </p>
    <%= link_to "by #{task.user.name}", task_path(task.id), class: :card__user %>
  </div>
</div>
